@import './variables';

.screen-container {
    position: relative;
    border: 3px solid $backgroundButtonsDisplay;
    margin-right: 30px;
    width: 100%;
    min-width: 700px;
    background: $linearGradientScreen;

    .topside-view-datas {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid $backgroundButtonsDisplay;
        height: 100%;
        max-height: 370px;

        .leftside-screen {
            width: 100%;
            padding: 20px;

            .title-your-vote {
                display: none;
            }

            h2 {
                font-weight: normal;
            }

            .dataInputsCotent {
                margin: 40px 0;

                .title-role {
                    text-align: center;
                }

                .show-data {
                    margin: 25px 0;

                    // Saída de números
                    .di-1 {
                        display: flex;
                        margin: 10px 0;

                        input[type=number] {
                            width: 40px;
                            height: 50px;
                            margin: 0 2px;
                            border: 1px solid $backgroundButtonsDisplay;
                            outline: none;
                            background-color: transparent;
                            text-align: center;
                            font-size: 2rem;
                        }

                        input[type=number]::-webkit-inner-spin-button {
                            appearance: none;
                        }

                        input[data-opacity=true] {
                            animation: opacityInputAnimation 0.6s ease-in-out infinite alternate;
                        }
                    }

                    // Nome e partido do titular
                    .dd {
                        display: none;
                        margin: 5px 0;
                    }

                    .showVoteType {
                        display: none;
                        animation: opacityInputAnimation 0.6s ease-in-out infinite alternate;

                        h2 {
                            font-size: 3rem
                        }
                    }
                }
            }
        }

        .rightside-screen {
            @include flexboxColummEnd;
            display: none;
            padding: 5px;

            .topBiggerImage {
                border: 2px solid $backgroundButtonsDisplay;
                text-align: center;
                background-color: #FFF;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 180px;
                    object-fit: cover;
                    object-position: 0 0;
                }
            }

            .bottomSmallImage {
                display: none;
                width: 80%;
                margin-top: 5px;
                border: 2px solid $backgroundButtonsDisplay;
                text-align: center;
                background-color: #FFF;

                img {
                    width: 80%;
                    height: 100%;
                    max-height: 100px;
                    object-fit: cover;
                    object-position: 0 0;
                }
            }
        }
    }

    .end-popup {
        @include flexbox;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $linearGradientScreen;
        animation: opacityInputAnimation 0.6s ease-in-out infinite alternate;

        h2 {
            font-size: 2.5rem;
        }
    }

    .help-description {
        display: none;
        padding: 0 15px;
    }
}

@keyframes opacityInputAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}